body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue' , 'Courier New', Courier, monospace, Georgia, 'Times New Roman', Times, serif
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-color: #18181b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.social-icons{
  list-style: none;
}

.card{
  border-radius: 0px;
  
}

.image{
  border-radius: 20px;
  background-color: white;
}

.description{
  background-color: white;
  color: black;
  border-radius: 10px;
  

}

.title{
  margin-top: 10px;
  margin-left: 20px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.sdescription{
  margin-top: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 10px;
  margin-left: 20px;
  padding-right: 20px;
}

.menu{
  list-style: none;
}

.seemore{
  margin-top: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 10px;
  margin-left: 20px;
  padding-bottom: 10px;
  
}


